@page "/"
@page "/home/{id}/"
@page "/home/{id}/checks"

@using Web.Components.Pages.Statistics
@using Web.Components.Pages.Statistics.ByUtility
@using Web.Components.Pages.Statistics.ByYear
@using Web.Extensions

@inject ApiClient ApiClient;
@inject NavigationManager NavigationManager;

@if (_nothingFound)
{
    <p>@_noHomes</p>
}

@if (_model == null)
{
    <MudText Typo="Typo.h4"><MudSkeleton></MudSkeleton></MudText>
    <MudPaper>
        <MudText Typo="Typo.body1"><MudSkeleton></MudSkeleton></MudText>
        <MudText Typo="Typo.body1"><MudSkeleton></MudSkeleton></MudText>
        <MudText Typo="Typo.body1"><MudSkeleton></MudSkeleton></MudText>
    </MudPaper>
}
else
{
    string icon;
    if (_model.IsDefault)
    {
        icon = @Icons.Material.Filled.Home;
    }
    else
    {
        icon = @Icons.Material.Outlined.Home;
    }
    <MudStack Row="true" Class="pt-4 pb-4">
        <MudIcon Icon="@icon" Style="font-size:2.5rem;" Color="Color.Primary" />
        <MudText Typo="Typo.h4">
            @_model.Name
            <MudText Inline="true" Typo="Typo.h6">(@_model.Area.ToString(".00") М<sup>2</sup>)</MudText>
        </MudText>
    </MudStack>
}

<MudGrid Class="mb-6">
    <MudItem sm="12" md="6" xl="4">
        @if (_model == null)
        {
            <AnimationPlaceholder />
        }
        else
        {
            <MudStack>
                <MudPaper Class="pa-4">
                    @{
                        var address =
                            $@"{_model.City}
                {_model.Street} {_model.Building} {_model.Apartment}";
                    }
                    <MudText Typo="Typo.body1">@address</MudText>
                    <MudText Typo="Typo.body1">@_model.Region</MudText>
                    <MudText Typo="Typo.body1">@_model.Country</MudText>
                </MudPaper>
                @{
                    var url = $"home/{_model.Id}/tariffs";
                }

                @if (_model.Tariffs.Any())
                {
                    var tariffs = _model.Tariffs.CurrentlyActive();
                    <MudText Typo="Typo.h6">Тарифи на сьогодні</MudText>
                    <CompactTariffTable Model="tariffs" ShowDateColumn="false"></CompactTariffTable>
                    <MudButton Href="@url" Variant="Variant.Filled">Тарифи</MudButton>
                }
                else
                {
                    <MudAlert Severity="Severity.Warning">
                        <MudStack>
                            <MudText Align="Align.Center">
                                У цьому домогосподарстві нема жодного тарифу. Для того, щоб почати роботу, додайте тарифи в налаштуваннях.
                            </MudText>
                            <MudButton Href="@url" Variant="Variant.Outlined" Color="Color.Warning">Перейти до налаштувань</MudButton>
                        </MudStack>
                    </MudAlert>
                }
            </MudStack>
        }
    </MudItem>
    <MudItem sm="12" md="6" xl="4">

        @if (_model == null)
        {
            <AnimationPlaceholder />
        }
        else
        {
            <MudStack Spacing="4">
                @if (_model.Tariffs.Any())
                {
                    var url = $"/home/{_model.Id}/checks/add";
                    <MudButton FullWidth=true Href="@url"
                               Variant="Variant.Filled" Color="Color.Primary">Створити чек</MudButton>
                }

                @if (_model.Checks.Any())
                {
                    var options = new[] { 12, 24, 36, 48, 60, 72, int.MaxValue };
                    <MudTable Items="@_model.Checks.OrderByDescending(x=>x.Date)" Hover="true" FixedHeader="true" Breakpoint="Breakpoint.None" Dense="true" RowClass="cursor-pointer" Class="pa-3" T="CheckViewDto"
                              Filter="new Func<CheckViewDto,bool>(FilterFunc)" Height="510px" OnRowClick="RowClickEvent">
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<CheckViewDto, object>(x=>x.Date)">Дата</MudTableSortLabel></MudTh>
                            <MudTh colspan="2">Сума</MudTh>

                        </HeaderContent>
                        <RowTemplate>
                            @{
                                var viewUrl = $"/home/{_model.Id}/checks/{context.Id}";
                            }
                            <MudTh><MudIconButton Size="Size.Small" Href="@viewUrl" Icon="fa-solid fa-eye"></MudIconButton></MudTh>
                            <MudTd DataLabel="Дата">@context.Date.ToString("d")</MudTd>
                            <MudTd DataLabel="Сума">@context.Amount.ToString("C")</MudTd>
                            @*                             @{
                                var editUrl = $"{viewUrl}/edit";
                            }
                            <MudTd> <MudIconButton Size="Size.Small" Href="@editUrl" Icon="fa-solid fa-edit"></MudIconButton> </MudTd>
 *@                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="@options" HidePageNumber="true" HidePagination="true" RowsPerPageString="Показати:" />
                        </PagerContent>
                    </MudTable>
                }
            </MudStack>
        }


    </MudItem>
    @if (_model != null && _model.Checks.Any())
    {
        <MudItem xs="12">
            <MudText Typo="Typo.h6">Статистика</MudText>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper>
                <ByYear Checks="@_model?.Checks"></ByYear>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper>
                <ByUtility Checks="@_model?.Checks"></ByUtility>
            </MudPaper>
        </MudItem>

    }
</MudGrid>


@code {
    HomeViewDto _model = default!;

    [Parameter]
    public string? Id { get; set; }

    private string? _noHomes = "No homes found. Please check Settings";
    bool _nothingFound = false;

    private bool FilterFunc(CheckViewDto check)
    {
        return true;
    }

    protected override void OnParametersSet()
    {
        try
        {
            if (Id == null)
            {
                _model = ApiClient.Home_GetDefaultAsync().Result;
            }
            else
            {
                _model = ApiClient.Home_GetAsync(Guid.Parse(Id)).Result;
            }
            _nothingFound = false;
        }
        catch (ApiException ex)
        {
            if (ex.StatusCode == 404)
            {
                _nothingFound = true;
            }
        }
    }

    private void RowClickEvent(TableRowClickEventArgs<CheckViewDto> element)
    {
        if (element.Item is not null)
        {
            NavigationManager.NavigateTo($"/home/{_model.Id}/checks/{element.Item.Id}");
        }
    }
}
